body {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: 600;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
}

h5 {
    /* font-size: 1.5rem; */
    font-weight: 600;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

p {
    font-size: 1rem;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    color: #fff;
}


body {
    position: absolute;
    z-index: -1;
    width: 100%;
}

nav {
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

#header-area .sticky {
    background: #212529 !important;
    padding: 0;
    box-shadow: 0px 1px 44px -5px rgba(0, 0, 0, 0.75);
}

#header-area .navbar .navbar-brand {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.nav-item .nav-link {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: white !important;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.nav-link.active {
    color: black !important;
}

.nav-item .nav-link:hover {
    color: black !important;
}

.mobile-menu span {
    background: #fff !important;
    width: 2rem !important;
    height: .3rem !important;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.mobile-menu .toggle-btn,
.mobile-menu .close-btn {
    cursor: pointer;
    display: none;
}

.overly-content {
    position: fixed;
    top: 57px;
    right: 0;
    height: 0%;
    background: rgb(24, 23, 23);
    width: 100%;
    overflow: hidden;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;

}

.overly-content .nav-link {
    font-size: 1.2rem;
    text-transform: capitalize;
    color: white !important;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.overly-content .nav-link:first-child {
    margin-top: 5rem !important;
}

.overly-content .nav-link:hover {
    color: black !important;
}

.overly-content .active {
    color: black !important;
}

#home {
    height: 40rem;
    top: 0;
    z-index: -3;
    width: 100%;
}

#home video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#home .home-text {
    top: 20rem;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    z-index: 99999;
}

.home-btn a {
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding: .6rem 1rem
}

.btn-outline-primary:hover {
    background: black;
    border-color: black;
}

.home-btn {
    text-align: center;
    margin-top: 2rem;
}

.overly {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    position: fixed;
    width: 100%;
    height: 50rem;
    z-index: 9999;
}


#about {
    padding: 4rem 0;
    background: rgb(24, 23, 23);
    position: relative;
    width: 100%;
    top: 50rem;
}

.span-yr h1 {
    font-size: 3rem;
}

.single-card .img-area {
    width: 8rem;
    height: 8rem;
}

.single-card .img-area img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 100%;
}

.single-card h3 {
    font-size: 1.5rem;
}

.single-card a i {
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    color: #fff;
    font-size: 1.2rem;
    padding-top: .5rem;
    margin: 0 .5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid black;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.single-card-icon a i:hover {
    background: black;
}

.single-card {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    margin-top: 5rem !important;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.single-card:hover {
    margin-top: 4rem !important;
}

.our-team {
    padding-top: 4rem;
}

.span-yr span {
    font-size: 1rem;
}

.single-pricing h3 {
    font-size: 2rem;
    font-weight: 500;
}

.btn-outline-primary:hover {
    background: black;
    border-color: black !important;
}

.single-pricing {
    border-radius: .5rem;
}

.price-plan i {
    left: 8.5rem;
    padding-top: .3rem;
}

#service {
    background: rgb(24, 23, 23);
    top: 50rem;
    padding: 4rem 0;
    z-index: 1;
}

.service-icon.d-block.m-auto {
    width: 5rem;
}

.service-icon.d-block.m-auto img {
    width: 100%;
}

.servicecontent p {
    font-size: 1rem;
}

.service-icon::before {
    content: '';
    position: relative;
    display: block;
    width: 6rem;
    height: 6rem;
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 6rem;
    z-index: -1;
}

#testimonials {
    top: 50rem;
    background: rgb(24, 23, 23);
    padding: 4rem 0;
}

.swiper-container {
    display: flex;
}

.simg-area {
    width: 150px;
    height: 150px;
}

.simg-area img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 100%;
    height: 100%;
}

.swiper-slide p {
    font-size: 1rem;
}

#contact {
    top: 50rem;
    background: rgb(24, 23, 23);
    padding: 4rem 0;
}

#contact form input,
textarea {
    border: 0;
    font-size: 1.1rem;
    color: #fff;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

textarea {
    height: 15rem;
}

#lastpart {
    top: 50rem;
    background: rgb(24, 23, 23);
    padding: 4rem 0;
}

#lastpart form .email-sub {
    border: 0;
    font-size: 1.1rem;
    color: #fff;
    border: 1px solid #212529 !important;
    width: 16rem;
}

.subsbtn {
    border: 0;
    left: -6px;
    font-size: 1.1rem;
    color: #fff;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    border: 1px solid #212529 !important;
}

.subsbtn:hover {
    background: #fff !important;
    color: black !important;
    border: 1px solid #fff;
}

#lastpart h6 a {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

#lastpart h6 a:hover {
    color: #fff !important;
}

#footer {
    top: 50rem;
}

#footer .social-links li a {
    font-size: 1.5rem !important;
    color: rgb(24, 23, 23) !important;
    width: 3rem;
    height: 3rem;
    display: block;
    border: 1px solid rgb(24, 23, 23);
    border-radius: 50%;
    text-align: center;
    padding: .5rem;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

#footer .social-links li a:hover {
    background: rgb(24, 23, 23);
    color: #fff !important;

}

@media (min-width: 300) {
    h1 {
        font-size: 3rem !important;
    }
}



/* RESPONSIVE */

@media screen and (min-width: 200px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 2rem;
    }

    .mobile-menu .toggle-btn {
        display: block;
    }

    .mobile-menu {
        display: block;
    }
}

@media screen and (min-width: 324px) {
    h1 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 400px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 576px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 992px) {
    .mobile-menu .toggle-btn {
        display: none;
    }

    .mobile-menu {
        display: none;
    }
}